@import '../../style/variables.scss';

.channellist {
    height: 110px;
    width: 1044px;
    margin-bottom: 8px;
    &__select {
        margin: 0px 2px;
        font-size: 10px;
        min-width: 20px;
        padding: 0 14px;
    }
    &__text {
        font-size: 14px;
        user-select: none;
    }
    &__renderarea {
        width: 250px;
        height: 56px;
        padding: 2px;
        position: relative;
    }
    &__triggeringarea {
        width: 65px;
        height: 56px;
        padding: 2px;
        position: relative;
    }
}

.ml {
    margin-left: 10px;
}

.div {
    // width: 20px;
    height: 50px;
    background-color:#ffffff;
    border-radius: 2px;
    // z-index: 5;
}

.indicator {
    height: 50px;
    width: 0.5px;
    position: absolute;
    // z-index: 100;
    top: 2px;
    background-color: #ffffff;
    // border: 1px solid black;
}

.markers {
    height: 8px;
    width: 0.5px;
    position: absolute;    
    background-color: #ffffff;
    font-family: "mini";
    font-size: 8px;
}
.up {
    top: 0px;
}
.down {
    bottom: 0px;
}

.closebutton {
    &:hover {
        background-color:rgb(209, 22, 38);
    }
}