@import '../../style/variables.scss';

.visualdisplaysheet {
    width: 1044px;
    margin-bottom: 8px;
    z-index: 100;
    &__center {
        text-align: center;
    }
    &__freq {
        font-family:  "Mini";
        font-size: 7px;
        color:$textcolor;
    }
}