@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

@font-face {
    font-family: 'mini';
    src: url(../resources/fonts/Mini.ttf);
}

@font-face {
    font-family: 'middle';
    src: url(../resources/fonts/Middle.ttf);
}

* {
    font-family:  "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // color: $textcolor;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    text-indent: 25px;
}

body {    
    overflow-x: hidden;
    background-color: $dark;
}

select {
    font-size: 10px;
    background-color:rgb(36, 33, 33);
    cursor: pointer;
    margin: 1px 2px;
    letter-spacing: 1px;
    color:#ffffff;
}

button {
    font-size: 9px;
    background-color:$coolback;
    cursor: pointer;
    margin: 2px 2px;
    margin-bottom: 2px;
    letter-spacing: 1px;
    padding: 2px 14px;
    border: 0.5px solid;
    border-radius: 4px;
    color: $textcolor;
    &:hover {
        background-color:rgb(51, 126, 57);
    }
}

.over-y-hidden {
    overflow-y: hidden;
}

.wrapper {
    position: absolute;
    height: 100%;
    margin-left: -739px; 
    left: 50%; 
}
.app {
    width: 100vw;    
    padding: 1px 20px;
    &__sheet {
        background-color: $sheetcolor;
        border-radius: 4px;
        margin: 1px;
        padding: 1px 5px;
        border: 0.5px solid #ffffff;        
    }
    &__centered {
        margin: 0 auto;
    }
    &__flex {
        display: flex;
        &__between {
            display: flex;
            justify-content: space-between;
        }
        &__center {
            display: flex;
            justify-content: center;
        }
    }
    &__center {
        text-align: center;
    }
    &__bkg {
        background-color: black;
        border: 0.5px solid #ffffff;
        border-radius: 5px;
        color: $textcolor;
    }
    &__title {
        font-family:  "Open Sans";
        font-size: 14px;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 2px;
        user-select: none;
        color: $textcolor;
    }
    &__line {
        background-color: #ffffff;
        height: 1px;
        margin-top: 4px;
    }
    &__navtext {
        font-family: "mini";
        font-size: 8px;
        margin: 2px 5px;
        user-select: none;
        color: $textcolor;
    }
}

.sticky {
    position: fixed;
    top: 2px;
  }

.stickymini {
    position: fixed;
    top: 222px;
}

.compensating {
    height: 240px;
}



@media (max-width: 1500px) {
    .wrapper {
        height: 100%;
        margin-left: -525px; 
        left: 50%; 
    }

    .compensating {
        height: 390px;
    }

    .stickymini {
        top: 232px;
      }
}

@media (max-width: 1070px) {
body {
    transform: scale(0.8);
}
.compensating {
    height: 0;
}
.sticky {
    position: static;
}

.stickymini {
    position: static;
}
.over-y-hidden {
    overflow-y: auto;
}
}

@media (max-width: 850px) {
body {
    transform: scale(0.7);
}
}

@media (max-width: 740px) {
body {
    transform: scale(0.5);
}
}

@media (max-width: 530px) {
body {
    transform: scale(0.4);
}
}

@media (max-width: 430px) {
body {
    transform: scale(0.35);
}
}

@media (max-width: 375px) {
body {
    transform: scale(0.3);
}
}

@media (max-width: 328px) {
body {
    transform: scale(0.25);
}
}
